In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('/content/survey-data-trino-cx.xlsx')

In [3]:
df

,ID,Data,Instagram,Google,Facebook,LinkedIn,Youtube,Outra...,Atendimento,Disponibilidade,...,Confiança,Execução,Interação,Rápidez,Feliz,Seguro,Encantado,Respeitado,Próximo,Recomendação
0,1,2023-03-15,Não,Não,Não,Sim,Não,Não,5,5,...,5,5,7,7,5.0,5.0,5.0,5.0,5.0,10
1,33,2023-03-09,Não,Sim,Não,Sim,Não,Não,5,5,...,5,5,7,7,4.0,4.0,3.0,5.0,5.0,10
2,34,2023-03-09,Não,Não,Não,Sim,Não,Não,4,5,...,3,4,6,4,4.0,4.0,3.0,5.0,4.0,8
3,2,2023-03-08,Sim,Sim,Não,Sim,Sim,Não,2,5,...,4,3,5,3,1.0,NaN,NaN,5.0,1.0,7
4,4,2023-03-03,Sim,Sim,Não,Sim,Sim,Não,3,4,...,3,4,7,3,2.0,3.0,NaN,5.0,-1.0,7
5,30,2023-03-01,Não,Sim,Não,Sim,Não,Não,3,2,...,3,4,3,3,NaN,NaN,NaN,NaN,NaN,6
6,31,2023-03-01,Não,Não,Não,Sim,Não,Não,5,5,...,5,4,7,6,4.0,4.0,3.0,5.0,4.0,9
7,20,2023-02-28,Não,Sim,Não,Não,Não,Não,5,5,...,5,4,6,5,5.0,5.0,4.0,5.0,4.0,10
8,18,2023-02-27,Não,Sim,Não,Sim,Não,Não,4,4,...,4,4,5,3,-2.0,-2.0,-2.0,-2.0,2.0,5
9,22,2023-02-23,Sim,Sim,Não,Sim,Não,Não,5,5,...,5,5,7,6,4.0,4.0,4.0,5.0,4.0,10
10,19,2023-02-22,Sim,Não,Não,Sim,Não,Não,5,5,...,5,5,7,7,5.0,5.0,5.0,5.0,5.0,10
11,14,2023-02-15,Não,Não,Não,Sim,Não,Não,4,5,...,4,3,6,4,3.0,3.0,3.0,3.0,3.0,8
12,27,2023-02-14,Não,Não,Não,Sim,Não,Não,5,4,...,5,4,7,5,4.0,4.0,3.0,5.0,4.0,9
13,5,2023-03-21,Não,Sim,Não,Não,Não,Não,5,5,...,5,3,7,4,2.0,4.0,NaN,5.0,3.0,9
14,3,2023-03-20,Não,Sim,Não,Sim,Não,Não,2,4,...,3,3,7,3,NaN,2.0,3.0,4.0,-1.0,7

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               15 non-null     int64
 1   Data             15 non-null     object
 2   Instagram        15 non-null     object
 3   Google           15 non-null     object
 4   Facebook         15 non-null     object
 5   LinkedIn         15 non-null     object
 6   Youtube          15 non-null     object
 7   Outra...         15 non-null     object
 8   Atendimento      15 non-null     int64
 9   Disponibilidade  15 non-null     int64
 10  Prazo            15 non-null     object
 11  Vagas            15 non-null     int64
 12  Confiança        15 non-null     int64
 13  Execução         15 non-null     int64
 14  Interação        15 non-null     int64
 15  Rápidez          15 non-null     int64
 16  Feliz            13 non-null     float64
 17  Seguro           13 non-null     float64
 18  Encantado        11 non-null     float64
 19  Respeitado       14 non-null     float64
 20  Próximo          14 non-null     float64
 21  Recomendação     15 non-null     int64
dtypes: float64(5), int64(9), object(8)
memory usage: 2.7+ KB

Os valores que não são numéricos retorna como nulo

In [5]:
# Converta a coluna para numérico
df['Prazo'] = pd.to_numeric(df['Prazo'], errors='coerce')

In [6]:
df[['Prazo']]

    Prazo
0     5.0
1     4.0
2     3.0
3     1.0
4     1.0
5     4.0
6     4.0
7     NaN
8     2.0
9     5.0
10    5.0
11    3.0
12    5.0
13    3.0
14    1.0

Pegar os valores que são negativos e preencher como valor 1

In [7]:
df.iloc[:, 8:] = df.iloc[:, 8:].applymap(lambda x: 1 if x < 0 else x)

Verificando se a coluna que tinha valores negativos converteram pra 1

In [8]:
df[['Próximo']]

    Próximo
0       5.0
1       5.0
2       4.0
3       1.0
4       1.0
5       NaN
6       4.0
7       4.0
8       2.0
9       4.0
10      5.0
11      3.0
12      4.0
13      3.0
14      1.0

Pegar os valores nulos das colunas numéricas e colocar como a média e aproximar pra o numero inteiro mais próximo

In [9]:
colunas = df.columns[8:]

# Preencher os valores nulos de cada coluna com a média
df[colunas] = df[colunas].fillna(df[colunas].mean())

In [10]:
df[['Encantado']]

    Encantado
0    5.000000
1    3.000000
2    3.000000
3    3.363636
4    3.363636
5    3.363636
6    3.000000
7    4.000000
8    1.000000
9    4.000000
10   5.000000
11   3.000000
12   3.000000
13   3.363636
14   3.000000

Transformar todas as colunas do indice 8 em diante em valores inteiros

In [11]:
df.iloc[:, 8:] = df.iloc[:, 8:].astype(int)

In [12]:
df

,ID,Data,Instagram,Google,Facebook,LinkedIn,Youtube,Outra...,Atendimento,Disponibilidade,...,Confiança,Execução,Interação,Rápidez,Feliz,Seguro,Encantado,Respeitado,Próximo,Recomendação
0,1,2023-03-15,Não,Não,Não,Sim,Não,Não,5,5,...,5,5,7,7,5,5,5,5,5,10
1,33,2023-03-09,Não,Sim,Não,Sim,Não,Não,5,5,...,5,5,7,7,4,4,3,5,5,10
2,34,2023-03-09,Não,Não,Não,Sim,Não,Não,4,5,...,3,4,6,4,4,4,3,5,4,8
3,2,2023-03-08,Sim,Sim,Não,Sim,Sim,Não,2,5,...,4,3,5,3,1,3,3,5,1,7
4,4,2023-03-03,Sim,Sim,Não,Sim,Sim,Não,3,4,...,3,4,7,3,2,3,3,5,1,7
5,30,2023-03-01,Não,Sim,Não,Sim,Não,Não,3,2,...,3,4,3,3,3,3,3,4,3,6
6,31,2023-03-01,Não,Não,Não,Sim,Não,Não,5,5,...,5,4,7,6,4,4,3,5,4,9
7,20,2023-02-28,Não,Sim,Não,Não,Não,Não,5,5,...,5,4,6,5,5,5,4,5,4,10
8,18,2023-02-27,Não,Sim,Não,Sim,Não,Não,4,4,...,4,4,5,3,1,1,1,1,2,5
9,22,2023-02-23,Sim,Sim,Não,Sim,Não,Não,5,5,...,5,5,7,6,4,4,4,5,4,10
10,19,2023-02-22,Sim,Não,Não,Sim,Não,Não,5,5,...,5,5,7,7,5,5,5,5,5,10
11,14,2023-02-15,Não,Não,Não,Sim,Não,Não,4,5,...,4,3,6,4,3,3,3,3,3,8
12,27,2023-02-14,Não,Não,Não,Sim,Não,Não,5,4,...,5,4,7,5,4,4,3,5,4,9
13,5,2023-03-21,Não,Sim,Não,Não,Não,Não,5,5,...,5,3,7,4,2,4,3,5,3,9
14,3,2023-03-20,Não,Sim,Não,Sim,Não,Não,2,4,...,3,3,7,3,3,2,3,4,1,7

Importando o dataset modificado do colab pro computador

In [13]:
df.to_csv('trino_modificado.csv', index = False)

In [14]:
df.describe()

,ID,Atendimento,Disponibilidade,Prazo,Vagas,Confiança,Execução,Interação,Rápidez,Feliz,Seguro,Encantado,Respeitado,Próximo,Recomendação
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,17.533333,4.133333,4.533333,3.266667,3.066667,4.266667,4.000000,6.266667,4.666667,3.333333,3.600000,3.266667,4.466667,3.266667,8.333333
std,12.082258,1.125463,0.833809,1.486447,1.334523,0.883715,0.755929,1.162919,1.588650,1.345185,1.121224,0.961150,1.125463,1.437591,1.632993
min,1.000000,2.000000,2.000000,1.000000,1.000000,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000
25%,4.500000,3.500000,4.000000,2.500000,2.000000,3.500000,3.500000,6.000000,3.000000,2.500000,3.000000,3.000000,4.500000,2.500000,7.000000
50%,19.000000,5.000000,5.000000,3.000000,3.000000,5.000000,4.000000,7.000000,4.000000,4.000000,4.000000,3.000000,5.000000,4.000000,9.000000
75%,28.500000,5.000000,5.000000,4.500000,4.000000,5.000000,4.500000,7.000000,6.000000,4.000000,4.000000,3.500000,5.000000,4.000000,10.000000
max,34.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,7.000000,7.000000,5.000000,5.000000,5.000000,5.000000,5.000000,10.000000